{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change Password</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	{%include "header.html"%}
	<div class="table6_text"><caption>Change Password</caption></div>
	<div class="table11">
	<table role="presentation">
	<form action="../change_password/" method="POST">
			{% csrf_token %}
			{% if msg %}
			<strong>{{ msg }}</strong>
			{% endif %}
		<tr>
			<td class="table6_td"><label for="new_password">New Password : </label></td>
			<td><input id="new_password" type="password" name="new_password" class="table7_input"></td>
		</tr>
		<tr>
			<td class="table6_td"><label for="rnew_password">Re Type Password :</label></td>
			<td><input id="rnew_password" type="password" name="rnew_password" class="table7_input"></td>
		</tr>
		<tr>
			<td><input id="submit_btn" type="submit" value="Change" class="table6_button" aria-label="Submit form"></td>
			<td><input id="reset_btn" type="reset" value="Reset" class="table6_button" aria-label="Reset form"></td>
		</tr>
	</table>
	</div>
	</form>
	{%include "footer.html"%}
</body>
</html>