{% load static %}

<footer class="site-footer">
	<div class="site-footer__col">
		<div class="site-footer__title">Menu</div>
		<a href="../index/">Home</a>
		<a href="../search/">Search</a>
		<a href="../post_request/">Request</a>
		<a href="../faq/">FAQ</a>
		<a href="../aptitude/">Posso ser doador?</a>
		<a href="../aboutus">About Us</a>
	</div>
	<div class="site-footer__col">
		<div class="site-footer__title">Contato</div>
		<span>+91 738 336 7447</span>
		<span>+91 971 417 4778</span>
		<span>+91 720 201 6399</span>
	</div>
	<div class="site-footer__col">
		<div class="site-footer__title">E-mail</div>
		<span>helpafriend.bloodbank@gmail.com</span>
	</div>
</footer>
