{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<div style="text-align:center;">
		{%include "header.html"%}
		<div class="table4_text"><caption>Forgot Password</caption></div>
		<div class="table4">
			{% if msg %}
			<strong>{{ msg }}</strong>
			{% endif %}
		<form action="../generate_otp/" method="POST">
		{% csrf_token %}
			<div class="table4_td"><label for="email">Email : </label><input id="email" type="Email" name="email" class="table4_input"><br><br></div>
			<div class="table4_td"> Login as :<input id="type_donor" type="radio" name="type" value="donor"><label for="type_donor">Donor</label> <input id="type_bloodbank" type="radio" name="type" value="bloodbank"><label for="type_bloodbank">BloodBank</label><br></div>
			<input id="submit_btn" type="submit" name="submit" value="Submit" class="table4_button" aria-label="Submit form">
		</form>
	    </div>
		{%include "footer.html"%}
	</div>
</body>
</html>