{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
	<style type="text/css">
		.button:hover
		{
			background-color:#4CAF50;
			border: none;
  			color: white;
  			padding: 9px 30px;
  			text-align: center;
 		 	text-decoration: none;
  			display: inline-block;
  			font-size: 16px;
  			margin: 18px 10px;
  			cursor: pointer;
		}
	</style>
</head>
<body>
	<div style="text-align:center;">
		{% include "header.html" %}
		
		<div class="form">
		<form action="../auth/" method="POST">
			{% csrf_token %} 			
			<div class="caption1" style="position: absolute;color: #cc0000;font-size: 65px;margin-left: 45%;margin-top: 8%;"><caption>Login</caption></div>

			<table role="presentation" border="0" style="  position:absolute; margin-top:16%; margin-left:39%;">
				<tr>
					<td style="color: #cc0000;font-size: 22px"><label for="email"> E-mail : </label></td>
					<td><input id="email" type="text" name="email" style="width: 130%; border: none; border-bottom: 1px solid #cc0000"></td>
				</tr>
				<tr>
					<td style="color: #cc0000;font-size: 22px"><label for="password">Password : </label></td>
					<td><input id="password" type="Password" name="password" style="width: 130%; border: none;border-bottom: 1px solid #cc0000"></td>
				</tr>
				<tr>
					<td style="color: #cc0000;font-size: 22px">Login as : </td>
					<td><input id="type_donor" type="radio" name="type" value="donor" style="color: #cc0000;font-size: 22px"><label for="type_donor">Donor</label> <input id="type_bloodbank" type="radio" name="type" value="bloodbank" style="color: #cc0000;font-size: 22px"><label for="type_bloodbank">BloodBank</label></td>
				</tr>
				<tr>
					<td><input id="submit_btn" type="submit" value="Submit" aria-label="Submit form" style=" background-color: #cc0000;
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 10px;
  cursor: pointer;"
  ></td>
					<td><input id="reset_btn" type="reset" value="Reset" class="button" aria-label="Reset form" style=" background-color: #cc0000;
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 10px;
  cursor: pointer;
  "></div></td>
				</tr>
				<tr>
					<td colspan="2"><a href="../forgot_password/"> Forgot Password?</a></td>
				</tr><br>
				<tr>
					<td colspan="2">Not Account?
					<a href="../registration/">Register</a></td>
				</tr>
			</table>
			{% if error_msg %}
			{{ error_msg }}
			{% endif %}
		</form>
		</div>
		{% include "footer.html" %}
	</div>
</body>
</html>