{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<div style="text-align:center;">
	{% include "header.html" %}
	<div class="table2_text"><caption>Registration</caption></div>	
	<form action="../submit/" method="POST">
		{% csrf_token %}
		<div class="table2">
		<table role="presentation">
			<tr>
					<td class="table2_td"><label for="fname">Full Name : </label></td>
					<td><input id="fname" type="text" name="fname" class="table2_input"></td>
			</tr>
			<tr>
				<td class="table2_td"><label for="blood">Blood Group : </label></td>
				<td>
					<select id="blood" name="blood" class="table2_input">
						<option>Select</option>
						<option value="O+">O+</option>
						<option value="O-">O-</option>
						<option value="A+">A+</option>
						<option value="A-">A-</option>
						<option value="A1+">A1+</option>
						<option value="A1-">A1-</option>
						<option value="A1B+">A1B+</option>
						<option value="A1B-">A1B-</option>
						<option value="A2+">A2+</option>
						<option value="A2-">A2-</option>
						<option value="A2B+">A2B+</option>
						<option value="A2B-">A2B-</option>
						<option value="AB+">AB+</option>
						<option value="AB-">AB-</option>
						<option value="B+">B+</option>
						<option value="B-">B-</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="dob">DOB : </label></td>
				<td>
					<input id="dob" type="date" name="dob" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="mobileno">Mobile Number : </label></td>
				<td><input id="mobileno" type="text" name="mobileno" class="table2_input"></td>
			</tr>
			<tr>
				<td class="table2_td"><label for="country">Country : </label></td>
				<td>
					<input id="country" type="text" name="country" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="state">State : </label></td>
				<td>
					<input id="state" type="text" name="state" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="city">City : </label></td>
				<td>
					<input id="city" type="text" name="city" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="pincode">Pincode : </label></td>
				<td>
					<input id="pincode" type="text" name="pincode" maxlength="6" class="table2_input">
				</td>
			</tr>
			
			<tr>
				<td class="table2_td"><label for="email">Email Id : </label></td>
				<td>
					<input id="email" type="email" name="email" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="password">Password : </label></td>
				<td>
					<input id="password" type="password" name="password" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="rpassword">Retype Password : </label></td>
				<td>
					<input id="rpassword" type="password" name="rpassword" class="table2_input">
				</td>
			</tr>
			<tr>
				<td class="table2_td"><label for="availability">Please confirm your availability <br> to donate blood : </label></td>
				<td>
					<select id="availability" name="availability" class="table2_input">
						<option>Select</option>
						<option value="available">Available</option>
						<option value="unavailable">Unavailable</option>
					</select>
				</td>
			</tr>
			<tr>
				<td >
					<input id="submit_btn" type="submit" value="Submit" class="table2_button" aria-label="Submit form">
				</td>
				<td>
					<input id="reset_btn" type="reset" value="Reset" class="table2_button" aria-label="Reset form">
				</td>
			</tr>
		</table>
	</div>
	</form>
	</div>
	{% include "footer.html" %}
</body>
</html>