{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>
	<div style="text-align:center;">
		{%include "header.html"%}
		<div class="table3_text"><caption>Blood Search</caption></div>
		<form action="../search_donor/" method="POST">
			{% csrf_token %}
			<div class="table3">
			<div class="form-layout">
				<div class="form-row">
					<div class="form-cell table3_td"><label for="blood">Blood Group: </label></div>
					<div class="form-cell"><select id="blood" name="blood" class="table3_input">
							<option>---</option>
							<option value="O+">O+</option>
							<option value="O-">O-</option>
							<option value="A+">A+</option>
							<option value="A-">A-</option>
							<option value="A1+">A1+</option>
							<option value="A1-">A1-</option>
							<option value="A1B+">A1B+</option>
							<option value="A1B-">A1B-</option>
							<option value="A2+">A2+</option>
							<option value="A2-">A2-</option>
							<option value="A2B+">A2B+</option>
							<option value="A2B-">A2B-</option>
							<option value="AB+">AB+</option>
							<option value="AB-">AB-</option>
							<option value="B+">B+</option>
							<option value="B-">B-</option>
						</select></div>
				</div>
				<div class="form-row">
					<div class="form-cell table3_td"><label for="country">Select Country: </label></div>
					<div class="form-cell">
						<select id="country" name="country" class="table3_input">
							<option>---</option>
							<option value="india">India</option>
							<option value="srilanka">Sri Lanka</option>
							<option value="nepal">Nepal</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cell table3_td"><label for="state">Select State: </label></div>
					<div class="form-cell">
						<select id="state" name="state" class="table3_input">
							<option>---</option>
							<option value="gujarat">Gujarat</option>
							<option value="rajasthan">Rajasthan</option>
							<option value="maharashtra">Maharashtra</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cell table3_td"><label for="city">Select City : </label></div>
					<div class="form-cell">
						<select id="city" name="city" class="table3_input">
							<option>---</option>
							<option value="vadodara">Vadodara</option>
							<option value="nadiad">Nadiad</option>
							<option value="navsari">Navsari</option>
							<option value="surat">Surat</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cell table3_td"><label for="search_by">Search By : </label></div>
					<div class="form-cell">
						<select id="search_by" name="search_by" class="table3_input">
							<option>---</option>
							<option value="donor">Donors</option>
							<option value="bloodbank">BloodBank</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cell"><div style="text-align:center;"><input id="submit" type="submit" name="submit" value="Search" class="table3_button" aria-label="Search"></div></div>
				</div>
			</div>
			</div>
		</form>
		{%include "footer.html"%}
	</div>
</body>
</html>